einops==0.8.2
ftfy==6.3.1
gdown==6.0.0
joblib==1.5.3
matplotlib==3.10.9
msgpack_numpy==0.4.8
msgpack_python==0.5.6
numpy==2.4.4
packaging==26.2
pandas==3.0.2
Pillow==12.2.0
pyarrow==24.0.0
PyYAML==6.0.3
regex==2025.9.18
registry==0.4.2
scipy==1.17.1
seaborn==0.13.2
six==1.17.0
skimage==0.0
timm==1.0.26
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.1
tyro==1.0.13
wand==0.7.0
